.product-details{
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 40px;
    height: 100px;
    border-bottom: 2px solid purple;
}

h1{
    font-size: 25px;
    margin: 0;
    color: blueviolet;
}

.product-info p{
    margin: 5px 0;
    font-size: 18px;
    /* color:rgb(17, 190, 190) */
    color: black
}

#edit-quantity{
    width: 25px;
    height: 15px;
    padding: 3px;
    font-size: 14px;
    text-align: center;
    margin-right: 10px;
    border: 1.5px solid black;
}

.edit-quantity-form{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid gray;
    padding: 7px;
    border-radius: 2px;
}

.submit-button{
    padding: 5px 10px;
    font-size: 14px;
    background-color: rgb(158, 83, 228);
    color: white;
    width: 60px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.delete-button{
    padding: 5px 5px;
    background-color: rgb(224, 63, 63);
    border: none;
    color: white;
    border-radius: 3px;
}

.product-actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    right: 50px;
}

.delete-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button:hover{
    background-color: rgb(96, 35, 158);
}

.delete-button:hover{
    background-color: rgb(156, 32, 32);
}   
