.products{
    height: 400px;
    margin-bottom: 0;
}

.purchase-button{
    margin-top: 5px;
    margin-left: 30px;
    padding: 10px 20px;
    background-color: rgb(73, 193, 233);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.purchase-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.purchase-button-container > p{
    font-size: 18px;
    font-weight: bold;
}

.purchase-button:hover{
    background-color: rgb(36, 158, 199);
}