.product-details{
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 40px;
    height: 100px;
    border-bottom: 2px solid purple;
}

h1{
    font-size: 25px;
    margin: 0;
    color: blueviolet;
}

p{
    margin: 5px 0;
    font-size: 18px;
    color:rgb(17, 190, 190)
}

