.aboutpage-container{
    margin-top: 60px;
}

.aboutpage-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 80px;
}

.about{
    font-family: "Metal Mania";
    font-size: 25px;
    color: black;
}

.about-content-container{
    margin: 10px 160px;
    max-width: 950px;
    min-height: 550px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.about-content-container > img{
    border-radius: 50%;
    position: relative;
    top: -100px;
}

.about-content-container > p{
    min-height: 500px;
}



