
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1000;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5px;
    gap: 50px;
    list-style: none;
    font-size: 22px;
    color: white;
}



.list a {
    text-decoration: none;
    color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
    color: var(--color-primary-800);
    text-decoration: underline;
}