.tourinfo-li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 700px;
    height: 60px;
    position: relative;
    border-bottom: 1.5px solid gray;
}

.date{
    position: absolute;
    left: 20px;
}

.city{
    position: absolute;
    left: 120px;
    color: gray;
}

.place{
    position: absolute;
    left: 300px;
    color: gray;
}

.buy-tickets{
    position: absolute;
    right: 20px;
    background-color: rgb(115, 211, 243);
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    color: white;
}