.product-title{
    display: flex;
    justify-content: center;
}

.price-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

h3{
    text-align: center;
    font-size: 30px;
    color:brown
}

p{
    font-weight: bold;
}

button{
    padding: 10px 15px;
    background-color: rgb(86, 204, 242);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color:white;
    font-size: 15px;
}