


.cart-button{
    position: fixed;
    top: 12px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 5px;
    background-color: black;
    border: 1px solid blue;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(124, 206, 233);
    font-size: 15px;
    width: 100px;
    margin-right: 30px;
    z-index: 1000;
}