.navbar{
    display: flex;
    align-items: center;
    background-color: black;
}

.nav-links{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 60px;
    /* position: relative;
    left: 30px; */
    margin-left: 90px;
}

.nav-links h2{
    color: white;
    cursor: pointer;
}

/* .nav-cart{
    margin-right: 20px;
} */

.cart-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 5px;
    background-color: rgb(86, 204, 242);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color:white;
    font-size: 15px;
    width: 100px;
    margin-right: 30px;
}