.title h1{
    margin-top: 0;
    margin-bottom: 0;
    font-size: clamp(4rem, 8vw, 10rem);
    color: white; 
}

.title{
    display: flex;
    justify-content: center;
    min-height: 150px;
    align-items: center;
    background-color: grey;
    margin-top: 2px;
    padding: 1rem;
}